/* CUSTOM PROPS */
:root {
    --dark-color: #353044;
    --light-color: #EEF1F3;
    --light-yellow-color: #F5F0CD;
    --light-skyblue-color: #B1F0F7;
    --skyblue-color: #00C6DB;
    --yellow-color: #FFDE7D;
    --dark-skyblue-color: #81BFDA;
    --blue-color: #7474BF;
}

/* FONTS */
@font-face {
    font-family: 'Gluten';
    src: url('../fonts/Gluten-Bold.woff2') format('woff2'),
        url('../fonts/Gluten-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gluten';
    src: url('../fonts/Gluten-SemiBold.woff2') format('woff2'),
        url('../fonts/Gluten-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
    font-family: 'Poppins', sans-serif, arial;
    font-weight: 400;
    flex-direction: column;
    background-color: var(--light-color);
    color: var(--dark-color);
}

img {
    width: 100%;
    display: block;
}

main {
    flex-grow: 1;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

/* CONTAINER */
/* .container {
    max-width: 1200px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
} */

.section__title {
    font-size: 2.25rem;
    color: var(--dark-color);
    font-family: 'Gluten';
    margin-bottom: 35px;
    letter-spacing: 1%;
    text-align: center;
}

.custom__btn {
    text-decoration: none;
    font-weight: 600;
    padding: 12px 10px;
    border-radius: 10px;
    letter-spacing: 1.2%;
    transition: background-color 0.2s ease;
}

/* HEADER */
.navbar {
    background-color: var(--dark-color);
    background-image: url("../img/Rectangle.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navbar-brand:active {
    opacity: 0.6;
}

.navbar-toggler {
    border: none;
    transition: transform 0.2s ease;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("../img/icons/list-icon.svg");
}

.navbar-toggler.active .navbar-toggler-icon {
    background-image: url("../img/icons/close-icon.svg");
}

.nav-link {
    color: var(--light-yellow-color);
    font-weight: 600;
}
.navbar-nav .nav-link.active {
    color: var(--yellow-color);
}

.nav-link:hover {
    color: var(--yellow-color);
}

.nav-link:focus {
    color: var(--yellow-color);
}

/* HERO */
.hero {
    width: 100%;
    background-color: var(--dark-color);
    background-image: url("../img/Rectangle.png");
    background-size: contain;
    padding-top: 120px;
}

.hero__heading {
    font-size: 4rem;
    font-family: 'Gluten';
    font-weight: bold;
    letter-spacing: 1%;
    line-height: normal;
    color: var(--skyblue-color);
    margin-bottom: 20px;
}

.hero__text {
    width: 100%;
    max-width: 420px;
    color:var(--light-color);
    font-size: 1.5rem;
    letter-spacing: 1%;
}

.hero__buttons {
    column-gap: 30px;
}

.yellow--btn {
    background-color: var(--yellow-color);
    color: var(--dark-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.yellow--btn:hover {
    background-color: var(--light-yellow-color);
}

.yellow--btn:active {
    box-shadow: none;
}


.hero__img {
    max-width: 580px;
}

/* OUR GROUP */
.group__card {
    max-width: 248px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    padding: 0;
    border: 0px
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-body {
    background-color: var(--yellow-color);
    font-weight: 500;
}

/* OUR GOALS */
.goals {
    background-color: var(--dark-skyblue-color);
    background-image: url("../img/Rectangle.png");
    object-fit: contain;
    text-align: center;
}
.goal__text {
    max-width: 994px;
    width: 100%;
    margin: auto;
    font-size: 1.25rem;
}

/* WHAT WE OFFERS ? */
.offers__card {
    max-width: 370px;
    width: 100%;
    border: 2px solid var(--dark-color);
    padding: 40px 10px;
    border-radius: 20px;
    position: relative;
}

.offers__card::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--dark-color);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Gluten';
    width: 215px;
    margin: auto;
}

/* CONTACT US */
.contact {
    background-color: var(--blue-color);
    background-image: url("../img/Rectangle.png");
    object-fit: contain;
    margin-bottom: 0;
}

.contact__container {
    padding-left: 25px;
    padding-right: 25px;
}

.contact .section__title {
    color: var(--light-color);
}

.contact__input {
    padding: 18px 22px;
    border-radius: 20px;
    border: 0;
    outline: 2px dashed var(--dark-skyblue-color);
    outline-offset: 3px;
}

.blue--btn {
    max-width: 120px;
    width: 100%;
    background-color: var(--skyblue-color);
    padding: 15px;
    color: var(--light-color);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: 0;
}

.blue--btn:hover {
    background-color: var(--dark-skyblue-color);
}

.blue--btn:active {
    box-shadow: none;
}

.contact__img {
    max-width: 248px;
}

.contact__validation {
    max-width: 300px;
    width: 100%;
    display: block;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
}

/* FOOTER */
.footer {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: var(--dark-color);
    background-image: url("../img/Rectangle.png");
    object-fit: contain;
}

.footer__icon {
    text-decoration: none;
    color: var(--light-color);
    transition: color 0.2s ease;
}

.footer__icon svg {
    width: 30px;
    height: 30px;
}

.footer__icon:hover {
    color: var(--skyblue-color)
}

.footer__text {
    color: var(--light-color);
    text-align: center;
    margin-top: 25px;
    font-size: 0.875rem;
}

/* MODAL */
.loading-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color);
    transition: opacity 0.2s ease;
}

.loading-modal__img {
    max-width: 80px;
    animation: loading 2.5s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media only screen and (max-width: 992px) {
    .hero {
        padding-bottom: 120px;
    }

    .hero__container {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero__content {
        text-align: center;
    }

    .hero__img {
        margin-bottom: 20px;
    }

    .hero__buttons {
        justify-content: center;
    }

    .offers__card {
        max-width: 300px;
        padding: 40px 15px;
    }
}

@media only screen and (max-width: 768px) {
    .hero {
        padding-top: 50px;
    }

    .contact .section__title {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 576px) {
    .hero__buttons {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 375px) {
    .hero__img {
        margin-bottom: 0px;
    }
}
